/* Modal styling */
/* Background */
.modal {
	display: none; /* Hide it until we need it. */
	position: fixed; z-index: 1; /* Sit fixed on top */
	left: 0; top: 0; width: 100%; height: 100%; /* Cover everything */
	
	padding-top: 100px; /* Location of the box */
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback */
	background-color: rgba(0,0,0,0.4); /* Greyish back */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	border: 1px solid #888;
	width: 80%;
	position: relative;	/* So we can put the x in the top right. */
}

/* Modal close button */
.modal-close {
	color: #aaaaaa;
	position: absolute; top: 0; right: 20px; /* Put x in top right. right must match .modal-content padding. */
	font-size: 28px;
	font-weight: bold;
}

/* Make it clearer that the x is a button by changing it to a little handy when we're near it. */
.modal-close:hover, .modal-close:focus {
	cursor: pointer;
}